.aside-menu {
  display: flex;
  flex-direction: row;
}

@media (min-width: 768px) {
  .aside-menu {
    display: flex;
    flex-direction: column;
  }
}

.header-list-detail {
  font-family: 'Gotham-Rounded-Light', Helvetica, arial, sans-serif;
}

.gen-info-two {
  width: 80px;
  font-size: 12px;
  font-family: 'Gotham-Rounded-Light', Helvetica, arial, sans-serif;
}

.img-little {
  width: 200px;
  height: 140px;
}

.description-item {
  font-size: 13px;
  font-family: 'Gotham-Rounded-Light', Helvetica, arial, sans-serif;
}

.location-p {
  font-size: 11px;
  font-family: 'Gotham-Rounded-Light', Helvetica, arial, sans-serif;
}

.title-listmix {
  font-family: 'Gotham-Bold', Arial, Helvetica, sans-serif;
}
